We will want to get this info that's already available from .wav's + metadata:
------------------------------------------------------------------------------
-All uploaded projects and information about them:
  -Language
  -Book
  -Translation type (literal Bible/dynamic Bible)
  -How much is finished (or we could just calculate this ourselves)
  -Contributors
-For a particular project, what chapters, chunks, and takes it has
-Information about specific takes:
  -Rating
  -Verse markers
  -Author
  -Timestamp
  -The actual audio

We will want to set this information for specific .wav's and metadata:
----------------------------------------------------------------------
-Information about specific takes:
  -Rating
-We'll also want to delete takes

We are interested in storing this additional information in the backend:
------------------------------------------------------------------------
-Source audio (so the user can upload a .tr with audio and store it to play alongside their translated audio)
-Audio comments: the audio, what take/chunk/chapter it's associated with, and what user made the comment
  -We'll also need to be able to delete audio comments
-The "desired" take for a particular chunk
-Whether a chapter has been marked as "done" or not
-Whether a project has been marked as finished/published or not
-User names that have been entered
  -Possibly other information about users like which source audio they've chosen